


<a style="float:right" class="nav-item nav-link" asp-area="Identity" asp-page="/Account/Register"><i class="bi bi-person-plus"></i> Register</a>


<a class="nav-item nav-link" asp-area="Identity" asp-page="/Account/Login"><i class="bi bi-box-arrow-in-right"></i> Login</a>

